/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/** Panel Styles **/
#sonar-main-panel {
	min-width: 966px;
}

#sonar-main-panel .column {
	margin: 5px;
	padding: 5px;
}

#sonar-primary-column {
	width: 90%;
	float: left;
}

#sonar-secondary-column {
	width: 30%;
	clear: right;
	float: right;
}

.module {
	background-color: white;
	clear: both;
	word-wrap: break-word;
}

.mod-header, .mod-content, .mod-footer {
	clear: both;
	display: block;
	position: relative;
}

.mod-header h3 {
	font-size: 18px;
	line-height: 26px;
}

.field-group {
	clear: both;
	display: block;
	margin-bottom: 5px;
	min-height: 1.6em;
	padding: 0 0 5px 100px;
}

.field-group label {
	color: #505050;
	/* Disabling to work around styling issues from plugin */
	/*float: left;*/
	display: block;
	/* Disabling to work around styling issues from plugin */
	/*left: -100px;*/
	line-height: 1;
	margin-right: -90px;
	padding-top: 4px;
	position: relative;
	/* Disabling to work around styling issues from plugin */
	/*width: 100px;*/
	/*text-align: right;*/
}

.field-value {
	display: inline-block;
	line-height: 1;
	padding-top: 4px;
}

/** Styles for the Gadget Dialog **/
.gadgetList {
	float: left;
	list-style: none;
	margin: -10px;
	padding: 0px;
	width: auto;
}

.gadgetList .hover {
	background: #CCC;
}

.gadgetList li {
	border: 2px white;
	float: left;
	font-size: 0.90em;
	height: 170px;
	margin: 0px;
	overflow: hidden hidden;
	padding: 0px 20px 0px 142px;
	width: 152px;
}

.gadgetList li img {
	border: 1px solid rgb(153, 153, 153);
	float: left;
	margin: 5px 0px 0px -132px;
}

.gadgetList li h3 {
	font-size: 1.5em;
	font-weight: bold;
	white-space: nowrap;
	margin-left: -132px;
}

.gadgetList li p {
}

.gadgetList li .buttons {
	float: left;
	margin: 81px 0px 0px -131px;
	width: auto;
}

#metrics-dialog form.aui .text {
	width: 400px;
}

#metrics-dialog .label,
#metrics-dialog .metrics-edit {
	display: none;
}

#metrics-dialog .remove-label-caption,
#metrics-dialog .remove-label {
	display: inline;
}
